/* style.css */

/* || GENERAL STYLES */

/*
@font-face {
    font-family: 'Koh';
    src: url(/fonts/KohSantepheap-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Koh';
    src: url(/fonts/KohSantepheap-Bold.ttf);
    font-weight: bold;
}
    */

:root {
    --bg-color: rgb(241, 236, 246);
    --text-color: black;
    --white-accent: rgb(225, 214, 246);
    --light-accent: rgb(207, 185, 246);
    --mid-accent: rgb(192, 159, 253);
    --dark-accent: rgb(42, 6, 100);
}

* {
    box-sizing: border-box;
}

body {
    font-size: clamp(12px, 3vw, 16px);
    font-family: Georgia, 'Times New Roman', serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1em;
    margin: 0.25em 0;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1em;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1em;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1em;
    margin: 0.25em 0;
}

p {
    line-height: 1.15em;
}

img {
    max-width: 100%;
}


/* || UTILITIES */

/* Formatting for phones */
@media only screen and (max-width: 600px) {
    [class*="column"] {
        width: 100%;
    }
}

.margin-rem {
    margin: 4rem 2rem;
}

.margin-vp {
    margin: 7vh 3vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-ctr {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-ctr {
    justify-content: center;
}

.justify-sbt {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.text-ctr {
    text-align: center;
}


/* || SITEWIDE */

/* Nav Bar */
nav {
    background-color: var(--white-accent);
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

nav li {
    margin: 0.5rem 1rem;
}

nav a {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    color: black;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: var(--light-accent);
}

nav a.active {
    background-color: var(--mid-accent);
    color: var(--dark-accent);
}

/* Standard Page Elements */

.icon {
    height: auto;
    width: 40px;
    margin-right: 1em;
}

.row-item {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.row-img {
    height: auto;
    width: 90px;
    border-radius: 10%;
    margin-right: 1.5rem;
}

.row-txt {
    /* blank currently */
}

/* || PAGE SPECIFIC */

/* Homepage */

.headshot {
    height: auto;
    width: 250px;
    border-radius: 7%;
    margin: 0 2.5%;
}

.name {
    flex: 1.5;
    display: flex;
    align-items: end;
}

.phrase {
    flex: 1;
}

.flex-col .icon-container {
    flex: 1.25;
}

/* Experience */




