/* style.css */

/* || GENERAL STYLES */

/*
@font-face {
    font-family: 'Koh';
    src: url(/fonts/KohSantepheap-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Koh';
    src: url(/fonts/KohSantepheap-Bold.ttf);
    font-weight: bold;
}
    */

:root {
    --bg-color: rgb(241, 236, 246);
    --text-color: black;
    --white-accent: rgb(225, 214, 246);
    --light-accent: rgb(192, 159, 253);
    --dark-accent: rgb(42, 6, 100);
}

html {
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
    font-family: Georgia, 'Times New Roman', serif;
    color: var(--text-color);
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

h4 {
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 1em;
}

p {
    line-height: 1.15em;
}


/* || UTILITIES */

.text-center {
    text-align: center;
}


/* || SITEWIDE */

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    align-content: center;
    
}

nav a {
    flex: 1;
    text-align: center;
    padding: 0.2rem;
    margin: 1rem 2rem;
    color: black;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: var(--light-accent);
}

nav a.active {
    background-color: var(--white-accent);
    color: var(--dark-accent);
}

/* Standard Page Elements */
.header {
    margin: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 1.4rem;
    line-height: 1rem;
    margin-bottom: 4rem;
}

/* Icon Row */
.icon-row {
    display: flex;
    align-items: center;
}

.icon-row a {
    margin-right: 1em;
}

.icon {
    height: auto;
    width: 40px;
}

/* || PAGE SPECIFIC */

/* Homepage */

#headshot {
    height: auto;
    width: 250px;
    border-radius: 7%;
    margin: 0 2em;
    flex: 0;
}



