/* style.css */

* {
    background-color: rgb(241, 236, 246);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* GENERAL STYLES */

body {
    color: black;
}

img {
    height: auto;
    width: 250px;
    border-radius: 5%;
}

h1 {
    font-size: 72px;
    font-weight: bold;
}


/* UTILITIES */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hborder {
    margin-left:2rem;
    margin-right: 2rem;
}

.vborder {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* SITEWIDE */

.header {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.subtitle {
    font-size: 16px;
    font-style: italic;
}

/* PAGE SPECIFIC */

/* Homepage */
/* ...etc...*/

/*
TODO
.nav {
}

